.leftContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  height:100%;
}
.rightContainer{
  display: flex;
  margin-left: 12%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height:100%;
}
.inlineCenter{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.icon{
  margin: 3px 10px 0 0;
  color: #A64EA6;
  font-size: 6vh;
}
.sideBox{
  margin-top:10%;
  margin-bottom: 10%;
  border-radius: 20px 0 0 20px ;
}
.image{
  display:flex;
  align-items: center;
  justify-content: center;
}
